@model LibrarianModel   
@{
    ViewData["Title"] = "Update current librarian";
    /*var imageFilePath = "~/images/" + Model.Photo.FileName;*/
}

<div class="col-md-8 col-lg-6 col-sm-12 col-xl-4">
    <form enctype="multipart/form-data" asp-controller="home" asp-action="update" method="post">
        <div class="form-group m-1">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" placeholder="fullname..." />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group m-1">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" placeholder="age..." />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        @*<div class="form-group m-1">
            <label asp-for="Photo"></label>
            <div class="input-group mb-3">
                <input asp-for="Photo" class="form-control" id="inputGroupFile">
                <label class="input-group-text" for="inputGroupFile">Choose file</label>
            </div>

        </div>*@
        <div class="form-group m-1">
            <label asp-for="LibraryDepartment"></label>
            <select class="form-select " asp-for="LibraryDepartment" asp-items="Html.GetEnumSelectList<Departments>()">
                <option>Please select...</option>
            </select>
            <span asp-validation-for="LibraryDepartment" class="text-danger"></span>
        </div>
        <div class="">
            <button class="btn btn-primary m-2" type="submit">Update</button>
            <a class="btn btn-primary m-2" asp-controller="home" asp-action="index">Cancel</a>
        </div>
    </form>

@*    <div>
        <h4>Current image </h4>
        <img src="@imageFilePath" alt="Librarian image" />
    </div>*@
</div>